.yellow{
	color: yellow;
}

#process-items{
	color: black;
}

.mate{
	background-color: #aed19d;
}

h1{
	font-size: 3rem;
}

#up-case{
	text-transform: uppercase;
}

*{
	font-family: verdana, sans-serif;
	font-size: 16px;
}

li[id="tool-die"]{
	border: solid;
	border-color: rgb(157, 176, 209);	
}

h4 + img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

ul ~ p{
	text-align: center;

}

section > ul > li{
	letter-spacing: 5px;
}

